body {
  width: 68%;
  background-color: rgb(246, 243, 238);
  margin: auto;
}

/* cabeçalho  */
.cabecalho {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

/* lista items */
ul {
  position: relative;
  left: 15%;
}

li {

  list-style-type: none;

}

h2 {
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  margin: 10px 10px;
  margin-left: -2px;
}


h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin: 10px 10px;
}

#h3-carne {
  color: rgb(185, 155, 111);
}

hr {
  background-color: rgb(185, 155, 111);
  height: 1.35px;
  background-color: rgb(185, 155, 111);
  height: 1.25px;
  width: 65%;
  position: relative;
  left: 18%;
  top: 22%;
}

.div,
.valor-carne {
  background-color: rgb(185, 155, 111);
  width: 100px;
  height: 92px;
  border-radius: 50%;
}

p {
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: 20px;
  margin: 20px 10px;
}

/* SESSAO SALADAS */
.graos-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 407px;
  top: 25%;

}

.tuna-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 407px;
  top: 25%;
}

.caesar-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 453px;
  top: 25%;
}

/* SESSAO HAMBURGUERES */
.carne-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 407px;
  top: 25%;
}

.carne {
  position: relative;
  right: 9%;
  top: 120px;
}

.gourmet-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 407px;
  top: 25%;
}

.based-hr {
  margin-right: 133px;
  margin-top: 0%;
  width: 407px;
  top: 25%;
}

/* conteiner */
#saladas {
  display: flex;
  margin-top: 0%;
}

.item {
  width: 99%;
  margin: auto;
  margin-left: -18%;
  display: flex;
}

.item-imagem {
  float: left;
}

.item-texto {
  width: 750px;
  margin: 10px;
  padding: 0px;
}

#item-carne {
  width: 30%;
  position: relative;
  right: 8%;
}

.preco {
  display: flex;
  float: right;
}

.valores {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: rgb(185, 155, 111);
  margin-top: 1%;
}

.valor-carne {
  margin-left: 0%;
  position: relative;
  left: 10%;
  top: 148px;
  color: rgb(246, 243, 238);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 200%;
}

/* imagens */
main img {
  border-radius: 50%;
  margin: 11px 2px;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(0.80, 0.80);
  box-shadow: 4px 4px 4px rgb(0, 0, 0);
}

main img:hover {
  transform: scale(1, 1);
}

main img:hover::after {
  opacity: 1.0%;
}